@import-normalize;
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');


:root {
  --dark: #101315;
  --light: #eeeeee;
  --gradient: #999999;
  --gradient2: linear-gradient(15deg, #04ea00, #00d17d);
  --gradient3: linear-gradient(15deg, #b648ff, #ef5dff);
}




kbd {
  background: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px #00000028, 0 2px 0 0 #ffffffc3 inset;
  color: #131313;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
  margin: auto;
}



.backdrop {
  position: fixed;
  z-index:3;
  width: 100vw;
  height: 100vh;
  background: #0000009f;
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  
  .textContainer {
    flex: .5;
    padding: 2rem;
    margin-top: 1.5rem;
    background-color: #f9f9ef;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: rgb(82, 82, 82);

  }
}

@media (max-width: 500px) {
  .backdrop {   
    .textContainer {
      margin-top: 3.3rem;
      font-size: 0.55rem;
    }
  }
}

.orange-gradient {
  background: var(--gradient);
}

.green-gradient {
  background: var(--gradient2);
}

.pink {
  color: #c273ff;
}

.gray {
  color: #666666;
}

.light-blue {
  color: #00b7ff;
}


.save-button {
  position: fixed;
  z-index: 1001;
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  padding: .3rem .3rem;
  top: 1.2rem;
  right: 1.4rem;
  background: var(--gradient);
  color: var(--light);
}

.close-button {
  padding: 0 2rem;
  height: 2.5rem;
  margin: 2rem auto 1rem 0;
  background: #101111;
  /* border: 1px dashed #9a9a9a99; */
  color: #ffaa00;
  border-radius: 4px;
  transition: background ease 400ms;
  box-shadow: 1px 1px 15px #03030399;
}

::placeholder {
  font-style: italic;
}



@media screen and (min-width: 960px) {

}