@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@300&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

$lightGreen: #74b482        ;


* {
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f9f9ef;
  margin: 0;
  box-sizing: border-box;
  caret-color: transparent;
}

a {
  text-decoration: none;
  display: block;
  color: #767676;
}

.input,
.passwordInput,
.emailInput,
.nameInput,
.textarea {
  box-shadow: rgba(0, 0, 0, 0.11);
  border: none;
  background: #ffffff;
  border-radius: 3rem;
  height: 3rem;
  width: 100%;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  padding: 0 3rem;
  font-size: 1rem;
  caret-color: black;
}
@media (min-width: 1100px) {
  .input,
  .passwordInput,
  .emailInput,
  .nameInput,
  .textarea {
    padding: 0 5rem;
    caret-color: black;
  }
}

.textarea {
  padding: 1rem 1.5rem;
  height: 300px;
  border-radius: 1rem;
}

.removeIcon {
  cursor: pointer;
  position: absolute;
  top: -3%;
  right: -2%;
}
.editIcon {
  cursor: pointer;
  position: absolute;
  top: -3.4%;
  right: 20px;
}

.pageContainer,
.offers,
.profile,
.listingDetails,
.category,
.explore {
  margin: 1rem;
}
@media (min-width: 1024px) {
  .pageContainer,
  .offers,
  .profile,
  .listingDetails,
  .category,
  .explore {
    margin: 3rem;
  }
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #74b482 transparent #74b482 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pageHeader {
  font-size: 2rem;
  font-weight: 800;
}

.topNavBar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 65px;
  background-color: #f9f9ef;
  box-shadow: 2px 2px 10px #e7e7de;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

  .topNavBarNav{
    width: 100%;
    // margin-bottom: 0.75rem;
    overflow-y: hidden;

    .navbarListCat{
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .topNavCont{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
          padding: 3px;
          margin: 0;
        }

        .topNavBarItemName,
        .topNavBarItemNameActive {
          // margin-top: 0.25rem;
          font-size: 14px;
          font-weight: 600;
          color: #8f8f8f;
        }

        .topNavBarItemNameActive{
          color: #2c2c2c;
        }
      }
    }
  }
}


// Navbar shopping cart icon
.iconCart {
  position: relative; 
  margin: 0;
  padding: 0;

  .iconCartNumber{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    background-color: rgb(209, 57, 57);
    border-radius: 50px 50px;
    color: #f2f4f8;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;    
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 ;
    padding: 0;
    transform: translate(25%, 0%);
  }
}


//////////////////////
.navbar {
  position: fixed;
  z-index: 2;
  left: 0;
  bottom: 0;
  right: 0;
  height: 80px;
  background-color: #f9f9ef;
  box-shadow: -2px -2px 2px #e1e1d8;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarNav {
  width: 100%;
  margin-top: 0.75rem;
  overflow-y: hidden;
}

.navbarListItems {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbarListItem {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbarListItemName,
.navbarListItemNameActive {
  margin-top: 0.25rem;
  font-size: 14px;
  font-weight: 600;
  color: #8f8f8f;
}
.navbarListItemNameActive {
  color: #2c2c2c;
}

.nameInput {
  margin-bottom: 2rem;
  background: url('./assets/svg/badgeIcon.svg') #ffffff 2.5% center no-repeat;
  caret-color: black;

}

.emailInput {
  margin-bottom: 2rem;
  background: url('./assets/svg/personIcon.svg') #ffffff 2.5% center no-repeat;
  caret-color: black;
}

.passwordInputDiv {
  caret-color: black;
  position: relative;
}

.statusBar{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.passwordInput {
  margin-bottom: 2rem;
  background: url('./assets/svg/lockIcon.svg') #ffffff 2.5% center no-repeat;
  caret-color: black;

}

.showPassword {
  cursor: pointer;
  position: absolute;
  top: -4%;
  right: 1%;
  padding: 1rem;
}

.forgotPasswordLink {
  cursor: pointer;
  color: #74b482;
  font-weight: 600;
  text-align: right;
}

.signInBar,
.signUpBar {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: inherit;
}

.signInButton,
.signUpButton,
.signInText,
.signUpText {
  cursor: pointer;
  border: none;
}
@media (min-width: 1024px) {
  .signInBar,
  .signUpBar {
    justify-content: start;
  }
}

.signInText,
.signUpText {
  font-size: 1.5rem;
  font-weight: 700;
}

.signInButton,
.signUpButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #74b482;
  border-radius: 50%;
  border: none;
}
@media (min-width: 1024px) {
  .signInButton,
  .signUpButton {
    border: none;
    margin-left: 3rem;
  }
}

.registerLink {
  margin-top: 4rem;
  color: #74b482;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3rem;
}

@media (min-width: 1217px) {
  .explore {
    margin-bottom: 10rem;
  }
}
@media (max-height: 536) {
  .explore {
    margin-bottom: 10rem;
  }
}

.exploreHeading,
.exploreCategoryHeading {
  font-weight: 700;
}

.exploreCategoryHeading {
  margin-top: 3rem;
}


@media (min-width: 1024px) {
  .swiperSlideText {
    font-size: 1.75rem;
  }
}

.swiperSlidePrice {
  color: #000000;
  position: absolute;
  top: 143px;
  left: 11px;
  font-weight: 600;
  max-width: 90%;
  background-color: #ffffff;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
}
@media (min-width: 1024px) {
  .swiperSlidePrice {
    font-size: 1.25rem;
  }
}

.exploreCategories {
  display: flex;
  justify-content: space-between;
}
.exploreCategories a {
  width: 48%;
}

.exploreCategoryImg {
  min-height: 115px;
  height: 15vw;
  width: 100%;
  border-radius: 1.5rem;
  object-fit: cover;
  margin: 0 auto;
}

.exploreCategoryName {
  font-weight: 500;
  text-align: left;
}

.category {
  margin-bottom: 10rem;
}

.categoryListings {
  padding: 0;
}

.categoryListing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}

.categoryListingLink {
  display: contents;
}

.categoryListingImg {
  width: 30%;
  height: 100px;
  border-radius: 1.5rem;
  object-fit: cover;
}
@media (min-width: 1024px) {
  .categoryListingImg {
    width: 19%;
    height: 217px;
  }
}

.categoryListingDetails {
  width: 65%;
}
@media (min-width: 1024px) {
  .categoryListingDetails {
    width: 79%;
  }
}

.categoryListingLocation {
  font-weight: 600;
  font-size: 0.7rem;
  opacity: 0.8;
  margin-bottom: 0;
}

.categoryListingName {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0;
}

.categoryListingPrice {
  margin-top: 0.5rem;
  font-weight: 600;
  font-size: 1.1rem;
  color: #74b482;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.categoryListingInfoDiv {
  display: flex;
  justify-content: space-between;
  max-width: 275px;
}

.categoryListingInfoText {
  font-weight: 500;
  font-size: 0.7rem;
}

.loadMore {
  cursor: pointer;
  width: 8rem;
  margin: 0 auto;
  text-align: center;
  padding: 0.25rem 0.5rem;
  background-color: #000000;
  color: #ffffff;
  font-weight: 600;
  border-radius: 1rem;
  opacity: 0.7;
  margin-top: 2rem;
}

.listingDetails {
  margin-bottom: 10rem;
}

.shareIconDiv {
  cursor: pointer;
  position: fixed;
  top: 3%;
  right: 5%;
  z-index: 2;
  background-color: #ffffff;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listingName {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.listingLocation {
  margin-top: 0;
  font-weight: 600;
}

.discountPrice {
  padding: 0.25rem 0.5rem;
  background-color: #000000;
  color: #ffffff;
  border-radius: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  display: inline;
}

.listingType {
  padding: 0.25rem 0.5rem;
  background-color: #74b482;
  color: #ffffff;
  border-radius: 2rem;
  display: inline;
  font-weight: 600;
  font-size: 0.8rem;
  margin-right: 1rem;
}

.listingDetailsList {
  padding: 0;
  list-style-type: none;
}
.listingDetailsList li {
  margin: 0.3rem 0;
  font-weight: 500;
  opacity: 0.8;
}

.listingLocationTitle {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.25rem;
}

.leafletContainer {
  width: 100%;
  height: 200px;
  overflow-x: hidden;
  margin-bottom: 3rem;
}
@media (min-width: 1024px) {
  .leafletContainer {
    height: 400px;
  }
}

.linkCopied {
  position: fixed;
  top: 9%;
  right: 5%;
  z-index: 2;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
}

.contactListingName {
  margin-top: -1rem;
  margin-bottom: 0;
  font-weight: 600;
}

.contactListingLocation {
  margin-top: 0.25rem;
  font-weight: 600;
}

.contactLandlord {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.landlordName {
  font-weight: 600;
  font-size: 1.2rem;
}

.messageForm {
  margin-top: 0.5rem;
}

.messageDiv {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.messageLabel {
  margin-bottom: 0.5rem;
}

.profile {
  margin-bottom: 10rem;
}

.profileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logOut {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #74b482;
  padding: 0.25rem 0.75rem;
  border-radius: .3rem;
  border: none;
}

.profileDetailsHeader {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
}

.personalDetailsText {
  font-weight: 600;
}

.changePersonalDetails {
  cursor: pointer;
  font-weight: 600;
  color: #74b482;
}

.profileCard {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2);
  max-width: 500px;
}

.profileDetails {
  display: flex;
  flex-direction: column;
}

.profileName,
.profileEmail,
.profileAddress,
.profileAddressActive,
.profileEmailActive,
.profileNameActive {
  all: unset;
  margin: 0.3rem 0;
  font-weight: 600;
  width: 100%;
}
.profileNameActive {
  background-color: rgba(44, 44, 44, 0.1);
}

.profileEmail,
.profileAddress,
.profileAddressActive,
.profileEmailActive {
  font-weight: 500;
}
.profileEmailActive {
  background-color: rgba(44, 44, 44, 0.1);
}

.profileAddressActive {
  background-color: rgba(44, 44, 44, 0.1);
}

.createListing {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 0.25rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
  font-weight: 600;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listingText {
  margin-top: 3rem;
  font-weight: 600;
}

.lisitingsList {
  padding: 0;
}

.formLabel {
  font-weight: 600;
  margin-top: 1rem;
  display: block;
}

.formButtons {
  display: flex;
  border: none;
}

.formButton,
.formInput,
.formInputAddress,
.formInputName,
.formInputSmall,
.formInputFile,
.formButtonActive {
  caret-color: black;
  padding: 0.9rem 3rem;
  background-color: #ffffff;
  font-weight: 600;
  border-radius: 1rem;
  font-size: 1rem;
  margin: 0.5rem 0.5rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.formButtonActive {
  background-color: #74b482;
  color: #ffffff;
  border: none;
}

.flex {
  display: flex;
}

.formInput,
.formInputAddress,
.formInputName,
.formInputSmall,
.formInputFile {
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  caret-color: black;
}
.formInputSmall,
.formInputFile {
  margin-right: 3rem;
  padding: 0.9rem 0.7rem;
  text-align: center;
  caret-color: black;
}

.formInputName {
  caret-color: black;
  padding: 0.9rem 1rem;
  width: 90%;
  max-width: 326px;
}

.formInputAddress {
  caret-color: black;
  padding: 0.9rem 1rem;
  width: 90%;
  max-width: 326px;
}

.formPriceDiv {
  display: flex;
  align-items: center;
}

.formPriceText {
  margin-left: -1.5rem;
  font-weight: 600;
}

.imagesInfo {
  font-size: 0.9rem;
  opacity: 0.75;
}

.formInputFile {
  caret-color: black;
  width: 100%;
}
.formInputFile::-webkit-file-upload-button {
  caret-color: black;
  background-color: #74b482;
  border: none;
  color: #ffffff;
  font-weight: 600;
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  margin-right: 1rem;
  border: none;
}

.createListingButton {
  margin-top: 5rem;
  border: none;
}

.offers {
  margin-bottom: 10rem;
}

.offerBadge {
  padding: 0.25rem 0.5rem;
  background-color: #000000;
  color: #ffffff;
  border-radius: 1rem;
  margin-left: 1rem;
  font-size: 0.8rem;
  opacity: 0.75;
}


///////////////////////////////////////
// Mushroom Page
///////////////////////////////////////

.mainExplore{
        //Animation Mushroom
        .animationScroll{
            position: fixed;
            width: 800px;
            // height: 100vh;
            opacity: 0.15;
            top: 65%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -2;

            svg path {
              stroke-dasharray: 0;
              stroke-dashoffset: 0;
              stroke-width: .4;
              stroke: #000;
              fill: none;
          }
        }

  p{
    font-family: new-kansas, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h1,h2,h3,h4,h5{
    font-family: new-kansas, sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  display: flex;
  justify-content: center;
  margin: auto;
  z-index: 1;
  
  .productPage{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
    
    
    .product{
      display: flex;
      gap: 200px;
      
      &:nth-child(2n+1){
        flex-direction: row-reverse;
      }
      // Image section + Update + Delete Buttons
      .productImage{
        width: 500px;
        position: relative;

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          // background-color: $lightGreen;
          position: absolute;
          top: 12px;
          left: -12px;
          z-index: -1;
        }
        
        img{
          width: 100%;
          max-height: 350px;
          object-fit: cover;
        } 
        .editProduct{
          position: absolute;
          width: 100%;
          top: -40px;
          padding: 0px 15px;
          display: flex;
          justify-content: space-between;
          
          #editPrdtBtn{
            width: 100px;
            height: 30px;
            border: none;
            background: #f9f9ef;
            box-shadow: 7px 5px 16px #e7e7d8, -3px -3px 14px #f6f6eb;
            border-radius: 3px;
            cursor: pointer;
            border: none;
            font-family: 'Zen Dots', cursive;
            font-weight: 500;
            font-size: 1rem;
            text-shadow: 2px 2px 3px #dbdbd2, -2px -2px 2px rgba(255, 255, 255, 0.6);
            color: #999b9f ;
          }
          
          #editPrdtBtnActive{
            width: 100px;
            height: 30px;
            background: #f9f9ef;
            box-shadow: inset 4px 4px 14px #e7e7da, inset -4px -4px 13px #fffff1;
            border-radius: 3px;
            cursor: pointer;
            border: none;
            font-family: 'Zen Dots', cursive;
            font-weight: 500;
            font-size: 1rem;
            text-shadow: -2px -2px -2px rgba(255, 255, 255, 0.6) , 2px 2px 3px #eeeee5;
            color: #999b9f ;
          }
        }
      }

      .productDetails{
        
        width: 500px;
        
        .productTextCont{
          position: relative;
          top: 0px;
          left: 10px;
          p{
            font-size: 1rem;
            margin: 1rem 0;
            line-height: 1.5;
          }
          #priceText{
            text-decoration: underline;
          }
        }
        .addToCardDiv{
          position: relative;
          bottom: -10px;
        }
        .addToCart{
          position: relative;
          bottom: -10px;
        }

        .signsCont{
          display: flex;
          gap: 5px;

        }
        button{
          bottom: 20px;
          padding: 7px 14px;
          background-color: #74b482;
          color: white;
          cursor: pointer;
          border-radius: 5px;
          border: none;

          &:hover{
            background-color: #76bfb6;
            color: #fff;
            // font-weight: 600;
          }
        }
      }
    }
  }
  @media (max-width: 420px) {
    // mushrooms page
    #productPageID{    
      // margin-right: 45px;
      gap: 30px;
    }
    #productID{
      gap: 5px;
    }
    .product{
      #productDetailsID{
        width: 160px;
        .productTextCont{
          position: relative;
          top: 0px;
          left: 10px;
          p{
            font-size: .6rem;
            margin: .5rem 0;
            line-height: 1.5;
          }
          
          h2{
            font-size: .85rem;
          }
  
        }
        button{
          bottom: 30px;
          padding: 1px 2px;
          background-color: #74b482;
          color: white;
          cursor: pointer;
          border-radius: 3px;
          border: none;
  
          &:hover{
            background-color: #76bfb6;
            color: #fff;
            // font-weight: 600;
          }
        }
      }
      #productImageID{
        display: flex;
        align-self: center;
        width: 160px;
      }
    }
  }

  
    .formMain{
      position: fixed;
      width:300px;
      height: 500px;
      z-index: 1;
      top: 45%;
      left: 50%;
      transform: translate(-60%, -50%);
      .formBody{
        // background: #952222;
        form{
          // background-color: #74b482;
          p{
  
            font-size: .85rem;
            margin: 8px auto;
          }
          input {
            margin:auto;
            background: #ffffff;
            border: 1px solid #667080;
            border-radius: 6px;
            width: 80%;
            height: 2rem;
            outline: none;
            padding: 0 .5rem;
            font-size: 1rem;
            font-family: 'Inter', sans-serif;
            caret-color: black;
          }
          #selectCategory {
            width: 80%;
            height: 2rem;
            margin-left: 14px;
        }
        select option {
          font-size: .8rem;
          width: 5px;
          background-color: #eee;
          height: .2rem;
          }
        }    
      }
    }
    .formHeader {
        // background-color: green;
        width: 60vw;
        .progressBar {
          display: flex;
          justify-content: space-between;
          font-size: .8rem;  
          }
    }
  }


@media (max-width: 900px) {
  // mushroom main page
#productPageID{
  display: flex;
  gap: 50px;
}
#productID{
  gap: 30px;
}
.product{
  #productDetailsID{
    width: 230px;
    .productTextCont{
      position: relative;
      top: 0px;
      left: 10px;
      p{
        font-size: .7rem;
        margin: .7rem 0;
        line-height: 1.5;
      }
      
      h2{
        font-size: 1rem;
      }

    }
    button{
      bottom: 30px;
      padding: 3px 6px;
      background-color: #74b482;
      color: white;
      cursor: pointer;
      border-radius: 5px;
      border: none;

      &:hover{
        background-color: #76bfb6;
        color: #fff;
        // font-weight: 600;
      }
    }
  }
  #productImageID{
    display: flex;
    align-self: center;
    width: 230px;
  }
}
//////////////////////

  //admin add product button
  #addProduct{
    position: absolute;
    border: 1px solid rgba(128, 128, 128, 0.227);
    width: 80px;
    height: 40px;
    background: #f9f9ef;
    box-shadow: 7px 7px 8px #eeeee0, -6px -6px 11px #f6f6eb;
    border-radius: 4px;
    
    cursor: pointer;
    top: 10px;
    left: 8px;
    font-family: 'Zen Dots', cursive;
    font-weight: 500;
    font-size: .7rem;
    text-shadow: 2px 2px 2px #dbdbd2, -2px -2px 1px rgba(255, 255, 255, 0.6);
    color: #999b9f ;
    
  }
  
  #addProductActive{
    position: absolute;
    border: 1px solid rgba(128, 128, 128, 0.227);
    width: 80px;
    height: 40px;
    background: #f9f9ef;
    box-shadow: inset 4px 4px 8px #e7e7da, inset -5px -5px 11px #fffff1;
    border-radius: 4px;
  
    cursor: pointer;
    top: 10px;
    left: 8px;
    font-family: 'Zen Dots', cursive;
    font-weight: 500;
    font-size: .7rem;
    text-shadow: -2px -2px -2px rgba(255, 255, 255, 0.6) , 2px 2px 1px #eeeee5;
    color: #999b9f ;
  }

  .formMain{
    width:400px;
    height: 400px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    .formBody{
      // background: #952222;
      form{
        // background-color: #74b482;
        p{

          font-size: .85rem;
          margin: 8px auto;
        }
        input {
          margin:auto;
          background: #ffffff;
          border: 1px solid #667080;
          border-radius: 6px;
          width: 80%;
          height: 2rem;
          outline: none;
          padding: 0 .5rem;
          font-size: 1rem;
          font-family: 'Inter', sans-serif;
          caret-color: black;
        }
        #selectCategory {
          width: 80%;
          height: 2rem;
          margin-left: 14px;
      }
      select option {
        font-size: .8rem;
        width: 5px;
        background-color: #eee;
        height: .2rem;
        }

      }    
      textarea{
        width: 300px;
      }
    }
  }

  .formHeader {
      // background-color: green;
      width: 60vw;
      .progressBar {
        display: flex;
        justify-content: space-between;
        font-size: .8rem;  
        }
  }
  
}

///////////////////////////////////////
// Mushroom Page END
///////////////////////////////////////




  // Add Product Component
  #addProduct{
    position: absolute;
    width: 200px;
    height: 50px;
    background: #f9f9ef;
    box-shadow: 11px 11px 12px #eeeee0, -10px -10px 14px #f6f6eb;
    border-radius: 4px;

    cursor: pointer;
    top: 5px;
    left: 50px;
    border: none;
    font-family: 'Zen Dots', cursive;
    font-weight: 500;
    font-size: 1.15rem;
    text-shadow: 2px 2px 5px #dbdbd2, -2px -2px 3px rgba(255, 255, 255, 0.6);
    color: #999b9f ;

  }

  #addProductActive{
    position: absolute;
    width: 200px;
    height: 50px;
    background: #f9f9ef;
    box-shadow: inset 4px 4px 16px #e7e7da, inset -7px -7px 14px #fffff1;
    border-radius: 4px;

    cursor: pointer;
    top: 5px;
    left: 50px;
    border: none;
    font-family: 'Zen Dots', cursive;
    font-weight: 500;
    font-size: 1.15rem;
    text-shadow: -2px -2px -3px rgba(255, 255, 255, 0.6) , 2px 2px 5px #eeeee5;
    color: #999b9f ;
  }

  // addProduct
  .formMain {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    
    .formHeader {
      width: 100%;
      height: 5%;
      margin-top: 2rem;
      margin: auto;
      // background-color: yellow;
      
      .progressBar {
        width: 90%;
        display: flex;
        justify-content: space-between;
        
        .stepItem {
          width:30%;
          list-style-type: none;
          display: flex;
          flex-direction: column;
          align-items: center;
          
          .circle {
            border: 2px solid #505050;
            border-radius: 100%;
            position: relative;
            width: 1.5em;
            height: 1.5em;
            // background-color: rgb(184, 48, 48);

            margin-bottom: 1rem;
          }
          
          .circle::before {
            content: "";
            display: block;
            position: absolute;
            width: 0.5em;
            height: 0.5em;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #505050;
            ;
            border-radius: 100%;
          }
        }
        
        //Active
        .stepItemActive {
          width:30%;
          list-style-type: none;
          display: flex;
          flex-direction: column;
          align-items: center;
          
          .circle {
            border: 2px solid #ababab;
            border-radius: 100%;
            position: relative;
            width: 1.5em;
            height: 1.5em;
            margin-bottom: 1rem;
          }
          
          .circle::before {
            content: "";
            display: block;
            position: absolute;
            width: 0.5em;
            height: 0.5em;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #ababab;
            border-radius: 100%;
          }
          
          .progress-label {
            color: #ababab;
          }
        }
      }
    }
    

    
    .close {
      position: absolute;
      left: 2rem;
      top: 1rem;
      font-size: 45px;
      font-weight: 600;
      display: inline-block;
      transform: rotate(45deg);
      cursor: pointer;
      color: #bdbdbd;
    }
    
    .formBody {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 70%;
      
      img {
        display: flex;
        margin: auto;
        height: 40vh;
      }
      
      textarea {
        height: 200px;
        width: 400px;
        font-size: 1.3rem;
      }
      form {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
        

        select {
          font-size: 1rem;
          font-family: 'Inter', sans-serif;
          background: #ffffff;
          border: 1px solid #667080;
          border-radius: 6px;
          width: 100%;
          height: 2.5rem;
          outline: none;
          padding: 0 0.5rem;
        } 
      } 
      label {
        display: flex;
        flex-direction: column;
      }

      .productFormCont{
        display: flex;
        flex-direction: column;
        justify-content: center;
        #addPrdtLabelImage{
          margin: auto;
        }
      }
    }
    
    .formFooter {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 12%;
      // background-color: #db9494;

      
      button {
        background-color: #D9D9D9;
        border-radius: 0.7rem;
        border: none;
        width: 4.5rem;
        height: 2rem;
        cursor: pointer;
        font-family: 'Inter', sans-serif;
        color: black;
      }
      
      button:disabled {
        opacity: 0;
        cursor: context-menu;
      }
    }
    
    input {
      background: #ffffff;
      border: 1px solid #667080;
      border-radius: 6px;
      width: 100%;
      height: 2.5rem;
      outline: none;
      padding: 0 0.5rem;
      font-size: 1rem;
      font-family: 'Inter', sans-serif;
      caret-color: black;
    }
    
  }


@media (max-width: 1100px) {
    //admin add product button
    #addProduct{
      position: absolute;
      border: 1px solid rgba(128, 128, 128, 0.227);
      width: 130px;
      height: 45px;
      background: #f9f9ef;
      box-shadow: 7px 7px 8px #eeeee0, -6px -6px 11px #f6f6eb;
      border-radius: 4px;
      
      cursor: pointer;
      top: 10px;
      left: 20px;
      font-family: 'Zen Dots', cursive;
      font-weight: 500;
      font-size: .9rem;
      text-shadow: 2px 2px 2px #dbdbd2, -2px -2px 1px rgba(255, 255, 255, 0.6);
      color: #999b9f ;
      
    }
    
    #addProductActive{
      position: absolute;
      border: 1px solid rgba(128, 128, 128, 0.227);
      width: 130px;
      height: 45px;
      background: #f9f9ef;
      box-shadow: inset 4px 4px 8px #e7e7da, inset -5px -5px 11px #fffff1;
      border-radius: 4px;
    
      cursor: pointer;
      top: 10px;
      left: 20px;
      font-family: 'Zen Dots', cursive;
      font-weight: 500;
      font-size: .9rem;
      text-shadow: -2px -2px -2px rgba(255, 255, 255, 0.6) , 2px 2px 1px #eeeee5;
      color: #999b9f ;
    }

  #productPageID{
    display: flex;
    gap: 80px;
  }
  #productID{
    gap: 100px;
  }
  .product{
    // background-color: #273bf5;
    #productDetailsID{
      width: 350px;
      .productTextCont{
        position: relative;
        top: 0px;
        left: 10px;
        p{
          font-size: .85rem;
          margin: .7rem 0;
          line-height: 1.5;
        }

      }
      button{
        bottom: 30px;
        padding: 4px 9px;
        background-color: #74b482;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        border: none;

        &:hover{
          background-color: #76bfb6;
          color: #fff;
          // font-weight: 600;
        }
      }
    }
    #productImageID{
      display: flex;
      align-self: center;
      width: 350px;
    }
  }

}


  @media (max-width: 1100px) {
    // Form product Update/Add
    .progressBar{
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: .8rem;
      }
  }

  ///////////////////////////////////////
  //Shooping cart page
  ///////////////////////////////////////

  @media (max-width: 1300px) {
    // Shopping cart single container 
    .product{

      #productDetailsID{
        width: 400px;
        .productTextCont{
          position: relative;
          top: 0px;
          left: 10px;
          p{
            font-size: .9rem;
            margin: 1rem 0;
            line-height: 1.5;
          }
          #priceText{
            text-decoration: underline;
          }
        }
        .addToCardDiv{
          position: relative;
          bottom: -10px;
        }
        .addToCart{
          position: relative;
          bottom: -10px;
        }

        .signsCont{
          display: flex;
          gap: 5px;

        }
        button{
          bottom: 20px;
          padding: 5px 10px;
          background-color: #74b482;
          color: white;
          cursor: pointer;
          border-radius: 5px;
          border: none;

          &:hover{
            background-color: #76bfb6;
            color: #fff;
            // font-weight: 600;
          }
        }
      }
      #productImageID{
        width: 400px;
      }
    }  
  }

  .shoppingCart{
    .cartMainCont{
      max-width: 1000px;
      margin: 0 auto;
      h1{
        padding: 20px 0;
        text-align: center;
        text-transform: uppercase;
      }
      .projectCart{
        display: flex;
        flex-direction: column;
        margin-bottom: 200px;
        .shop{ 
          flex: 75%;
          
          .cartItem{
            display: flex;
            width: 100%;
            height: 200px;
            overflow: hidden;
            margin-bottom: 20px;
            background: #fff;
            transition: all .6s ease;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            &:hover{
              border: none;
              // transform: scale(1.007);
            }
            img{
              width: 320px;
              height: 200px;
              object-fit: cover;
            }
            
            .contCartItem{
              padding: 20px;
              width: 100%;
              position: relative;
              h3 {
                margin-bottom: 30px;
                margin: 0;
                padding: 0;
              }
              .price{
                display: flex;
                align-items: center;
                gap: 10px;
                h4{
                  margin: 0;
                  padding: 0;
                }
              }
    
              .incrDecrCartItemQty{
                position: absolute;
                bottom: 5px;
                right: 0px;
                padding: 10px 25px;
                .signs{
                  gap: 5px;
                  display: flex;
                  align-items: center;
                }
              }
              h5{
                color:red;
                margin: 0;
                padding: 0;
              }
            button{
              bottom: 20px;
              padding: 7px 14px;
              background-color: #74b482;
              color: white;
              cursor: pointer;
              border-radius: 5px;
              border: none;

              &:hover{
                background-color: #76bfb6;
                color: #fff;
                // font-weight: 600;
              }
            }

            }
            
          }
        }
      }
      .checkOutSect{
        background-color: #74b482;
        color: #fff;
        text-decoration: none;
        display: block;
        text-align: center;
        height: 60px;
        line-height: 40px;
        font-weight: 900;
        p {
          display: flex;
          justify-content: space-between;
          margin-bottom: 30px;
          font-size: 20px;
        }
        button{
          background-color: #74b482;
          color: #fff;
          text-decoration: none;
          display: block;
          text-align: center;
          height: 40px;
          line-height: 40px;
          font-weight: 900;
          border: none;
          cursor: pointer;
          &:hover{
            background-color: #76bfb6;
          }
        }
      }
    }
      // Paid Products SlideOut Component
      .paidOrdersMainCont{
        transform: translateX(430px);
        transition: all .6s ease;
        position: absolute;
        overflow: auto;
        height: 80vh;
        top: 50px;
        right: 0px;
        width: 550px;
        z-index: 1;
        .paidOrders{
          background-color: #f9f9ef;
          position: relative;
          left: 130px;
          .paidProductCont{
            background-color: #ebf0f5;
            margin: 7px 10px;
            width: 370px;
            box-shadow: 1.3px 1.3px 2px #dfdfd8, -1.3px -1.3px 2.2px rgba(255, 255, 255, 0.6);
            &:hover{
              border: none;
              box-shadow: inset 1px 1px 3.6px rgb(219, 222, 228), inset -1.3px -1.3px 4px rgba(228, 228, 228, 0.6);
            }
  
            p{
              padding: 0;
              margin: .2rem 0;
              font-size: .8rem;
            }
            display: flex;
            gap: 100px;
              img{
                width: 120px;
                max-height: 70px;
                object-fit: cover;
                &:hover{
                  border: none;
                  box-shadow: inset 1px 1px 3.6px #BDC0C5, inset -1.3px -1.3px 4px rgba(228, 228, 228, 0.6);
                }
              } 
              .content{
                display: flex;
                h4{
                  padding: 0;
                    margin: .2rem 0;
                    font-size: .8rem;
                }
                .price{
                  display: flex;
                  align-items: center;
                  gap: 5px;
            
                  p{
                    color: grey;
                    padding: 0;
                    margin: 0;
                  }
                }
              }
            }
          }
          .tab{
            display: flex;
            position: absolute;
            width: 130px;
            top: 0;      
            padding: 0px 8px;
            text-decoration: none;
            background-color: #74b482;
            border-radius: 15px 0 0 15px;
            cursor: pointer;
            .tabContent{
              display: flex;
              align-items: center;
              gap: 5px;
              padding: 0%;
              margin: 0%;
              color: white;
              .arrow {
                transform: rotate(0); 
              }
            }
          }
        &::-webkit-scrollbar {
          width: 10px;
          background-color: #f5f5f5;
          border-radius: 20%;
        }
        overflow-x: hidden;
        &::-webkit-scrollbar-thumb {
          height: 2px;
          background: rgb(119, 119, 119);
          border-radius: 20%;
        }
      }
    
  
    .paidOrdersMainCont.active {
      transform: translateX(0);
      .arrow.rotated {
        transform: rotate(180deg); 
      }
    }
  }

  @media (max-width: 1300px) {
  }

  @media (max-width: 1100px) {
  }

  @media (max-width: 900px) {
  }

  @media (max-width: 420px) {

    .shoppingCart{
      // background-color: #2337cf;
      // border: 8px solid rgb(198, 20, 20);
      margin: auto;
      max-width: 350px;
    

      .cartMainCont{
        // background-color: #74b482;
        
        .projectCart{
          
          .shop{
            display: flex;
            flex-direction: column;
            // border: 8px solid black;
            align-items: center;
            // background-color: red;
            .cartItem{
              gap: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 85%;
              height: 120px;
              box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 18px 0px;
              img{
                width: 70px;
                height: 40px;
              }
              
              .contCartItem{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                // background-color: #76bfb6;
                
                h3 {
                  margin-bottom: 0px;
                  font-size: .75rem;
                  margin:  0px;
                  padding: 0;
                }
                h4{
                  font-size: .75rem;
                  margin: 5px;
                }
                p{
                  font-size: .8rem;
                  margin: 5px;
                }

                .incrDecrCartItemQty{
                  width: 100%;
                  display: flex;
                  justify-content: flex-start;
                  padding: 5px 10px;
                  .signs{
                    gap: 3px;
                    button{
                      padding: 2px 7px;
                      margin-bottom: -15px;
                    }
                  }
  
                }
              }
            }
          }
        }
      }

      .paidOrdersMainCont{
              // Paid Products SlideOut Component
              top: 90px;
              position: absolute;
              z-index: 1;
              width: 360px;
              transform: translateX(0px);
              opacity: 0;
              
              .paidOrders{
                left: 100px;

                .paidProductCont{
                  width: 270px;
                  gap: 20px;
                  display: flex;
                  align-items: center;
                  p{
                    padding: 0;
                    margin: .2rem 0;
                    font-size: .7rem;
                  }
                  
                  img{
                    width: 100px;
                  }
                }
              }

              .content{
                h4{
                  padding: 0;
                    margin: .2rem 0;
                    font-size: .2rem;
                }
              }

              .tab{
                width: 105px;
                height: 55px;
                padding: 0px 4px;
                .tabContent{
                  gap: 2px;
                  h4{
                    font-size: .8rem;
                  }
                }
              }
            }

            .paidOrdersMainCont.active {
              transform: translateX(0px);
    
            }
          }
          // #navBarId {
          //   position: fixed;
          //   z-index: 2;
          //   // border: 10px solid black;
          // }

  }




